{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Welcome!{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary">
                Welcome to your Teacher Dashboard. Use the menu on the left to manage your Subjects, Lessons, and Exams.
            </div>
        </div>
    </div>
{% endblock %}
