<h3>Grades for this exam</h3>

<table class="table">
    <thead>
    <tr>
        <th>Student</th>
        <th>Score</th>
    </tr>
    </thead>

    <tbody>
    {% for grade in field.value %}
        <tr>
            <td>{{ grade.student.firstName }} {{ grade.student.lastName }}</td>
            <td>{{ grade.score }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
